.tableme{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
	margin:0px;
  background-color: rgba(255,255,255,0.3);	
 }
.tbl-content{
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.thme{
  border-bottom: 1px white solid;
  padding: 20px 15px;
  text-align: left;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
  text-transform: uppercase;
}
.tdme{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 15px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}

/*Checkbox design*/
.round {
  position: relative;
}

.round label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 28px;
  left: 0;
  position: absolute;
  top: 0;
  width: 28px;
}

.round label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 7px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 12px;
}

.round input[type="checkbox"] {
  visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.round input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.headme{
	margin-top:100px;
	margin-bottom:0px;
	padding:30px;
	font-size:45px;
	text-align:center;
	border-bottom:1px white solid;
  	color: #fff;
  	text-transform: uppercase;
  	font-weight: 300;
  	text-align: center;
}
/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
.tableme,.headme{
  background: rgb(60, 46, 61);
  background: rgb(60, 46, 61);
  font-family: 'Roboto', sans-serif;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}